body {
    
    
    background-color: wheat;
  }
.employee{
    text-align: center;
    
}

input[type="button"]{
    background-color:brown;
    color: black;
    text-align: center;
    height:400px;
    width:50px;


}
.prev{
    border: 2px solid black;
    
    position: absolute;
    left: 365px;
    top: 67px;
}
.next{
    border: 2px solid black;
    left: 930px;
    position: absolute;
    top:67px;

}

#emp_image{
    border:2px solid black;
}
#emp_details{
    
    text-align: center;
    width:500px; 
    position: relative;
    left:415px;
    border:2px solid black;
}